/* Home */

position: relative;
width: 414px;
height: 896px;

background: #FFFFFF;


/* Rectangle 41 */

position: absolute;
width: 414px;
height: 101px;
left: 0px;
top: 0px;

background: #092D6F;


/* Ticket Search */

position: absolute;
width: 138px;
height: 30px;
left: 136px;
top: 56px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* GoEasy */

position: absolute;
width: 61px;
height: 13px;
left: 135px;
top: 436px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #FFFFFF;

transform: matrix(1, 0, 0, -1, 0, 0);


/* GoEasy */

position: absolute;
width: 61px;
height: 24px;
left: 177px;
top: 436px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Group 43 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Group 47 */

position: absolute;
width: 46.15px;
height: 24.42px;
left: 29px;
top: 51px;



/* Vector 12 */

position: absolute;
width: 44.28px;
height: 10.7px;
left: 30.87px;
top: 64.72px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 31.18px;
height: 13.1px;
left: 29px;
top: 51px;

background: #FFFFFF;


/* Group 48 */

position: absolute;
width: 5px;
height: 19px;
left: 374px;
top: 59px;



/* Ellipse 66 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 59px;

background: #FFFFFF;


/* Ellipse 67 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 66px;

background: #FFFFFF;


/* Ellipse 68 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 73px;

background: #FFFFFF;


/* Rectangle 149 */

position: absolute;
width: 108px;
height: 4px;
left: 153px;
top: 885px;

background: #FFFFFF;
opacity: 0.5;
border-radius: 26px;


/* Enter Source */

position: absolute;
width: 89px;
height: 21px;
left: 25px;
top: 126px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #474747;



/* Enter Destination */

position: absolute;
width: 120px;
height: 21px;
left: 25px;
top: 228px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #474747;



/* Enter Destination */

position: absolute;
width: 120px;
height: 39px;
left: 147px;
top: 438px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;

color: #474747;



/* Rectangle 143 */

position: absolute;
width: 364px;
height: 56px;
left: 25px;
top: 152px;

background: #F5F5F5;
border-radius: 2px;


/* Rectangle 150 */

position: absolute;
width: 364px;
height: 56px;
left: 25px;
top: 254px;

background: #F5F5F5;
border-radius: 2px;


/* Rectangle 155 */

position: absolute;
width: 332px;
height: 41px;
left: 42px;
top: 436px;

background: #092D6F;
border: 1px solid #092D6F;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 12px;


/* Date of Journey */

position: absolute;
width: 112px;
height: 21px;
left: 25px;
top: 330px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #474747;



/* Rectangle 151 */

position: absolute;
width: 364px;
height: 56px;
left: 25px;
top: 356px;

background: #F5F5F5;
border-radius: 2px;


/* Vector 22 */

position: absolute;
width: 9px;
height: 4.5px;
left: 353px;
top: 382px;

background: #565656;


/* eg. 26/10/2012 */

position: absolute;
width: 101px;
height: 21px;
left: 42px;
top: 373px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #BBBBBB;



/* eg. Lucknow */

position: absolute;
width: 87px;
height: 21px;
left: 42px;
top: 272px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #BBBBBB;



/* eg. New Delhi */

position: absolute;
width: 95px;
height: 21px;
left: 42px;
top: 170px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #BBBBBB;



/* Check Availability */

position: absolute;
width: 186px;
height: 39px;
left: 142px;
top: 443px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

color: #FFFFFF;


/* Rectangle 154 */

position: absolute;
width: 414px;
height: 734px;
left: 0px;
top: 162px;

background: #FFFFFF;
border-radius: 25px 25px 0px 0px;


/* Home */

position: relative;
width: 414px;
height: 896px;

background: #FFFFFF;


/* Rectangle 41 */

position: absolute;
width: 414px;
height: 101px;
left: 0px;
top: 0px;

background: #092D6F;


/* Group 43 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Group 47 */

position: absolute;
width: 46.15px;
height: 24.42px;
left: 29px;
top: 51px;



/* Vector 12 */

position: absolute;
width: 44.28px;
height: 10.7px;
left: 30.87px;
top: 64.72px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 31.18px;
height: 13.1px;
left: 29px;
top: 51px;

background: #FFFFFF;


/* Group 48 */

position: absolute;
width: 5px;
height: 19px;
left: 374px;
top: 59px;



/* Ellipse 66 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 59px;

background: #FFFFFF;


/* Ellipse 67 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 66px;

background: #FFFFFF;


/* Ellipse 68 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 73px;

background: #FFFFFF;


/* Redeem Points */

position: absolute;
width: 152px;
height: 30px;
left: 131px;
top: 57px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Rectangle 149 */

position: absolute;
width: 108px;
height: 4px;
left: 153px;
top: 885px;

background: #FFFFFF;
opacity: 0.5;
border-radius: 26px;


/* Rectangle 150 */

position: absolute;
width: 108px;
height: 4px;
left: 153px;
top: 885px;

background: #A8A8A8;
opacity: 0.5;
border-radius: 26px;


/* Congratulations! You have redeemed 150 points. */

position: absolute;
width: 396px;
height: 82px;
left: 9px;
top: 417px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
text-align: center;

color: #092D6F;


/* Home */

position: relative;
width: 414px;
height: 896px;

background: #FFFFFF;


/* Group 71 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 753px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 753px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 753px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 792px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 801px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 753px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 759px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 810px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 819px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 828px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 837px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 846px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 855px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 864px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 873px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 882px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 891px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 771px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 768px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 764px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Tyres of Flight 2110B7 */

position: absolute;
width: 146px;
height: 21px;
left: 72px;
top: 768px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 768px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 768px;

background: #DB3535;


/* 12/09/2020 */

position: absolute;
width: 57px;
height: 15px;
left: 323px;
top: 870px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 770px;

border: 1px solid #FFFFFF;


/* U.Id. - 18D4562F483 */

position: absolute;
width: 100px;
height: 15px;
left: 73px;
top: 870px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Rectangle 41 */

position: absolute;
width: 414px;
height: 101px;
left: 0px;
top: 0px;

background: #092D6F;


/* Group 43 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Group 47 */

position: absolute;
width: 46.15px;
height: 24.42px;
left: 29px;
top: 51px;



/* Vector 12 */

position: absolute;
width: 44.28px;
height: 10.7px;
left: 30.87px;
top: 64.72px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 31.18px;
height: 13.1px;
left: 29px;
top: 51px;

background: #FFFFFF;


/* Group 48 */

position: absolute;
width: 5px;
height: 19px;
left: 374px;
top: 59px;



/* Ellipse 66 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 59px;

background: #FFFFFF;


/* Ellipse 67 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 66px;

background: #FFFFFF;


/* Ellipse 68 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 73px;

background: #FFFFFF;


/* Problems */

position: absolute;
width: 78px;
height: 24px;
left: 172px;
top: 57px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Rectangle 149 */

position: absolute;
width: 108px;
height: 4px;
left: 153px;
top: 885px;

background: #FFFFFF;
opacity: 0.5;
border-radius: 26px;


/* Take this problem */

position: absolute;
width: 147px;
height: 24px;
left: 134px;
top: 840px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #092D6F;



/* Group 67 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 125px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 125px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 125px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 164px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 173px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 125px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 131px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 182px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 191px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 200px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 209px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 218px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 227px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 236px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 245px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 254px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 263px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 143px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 140px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 136px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Tyres of Flight 2110B7 */

position: absolute;
width: 146px;
height: 21px;
left: 72px;
top: 140px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 140px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 140px;

background: #DB3535;


/* There is a problem resolved in the front tyres of the flight which is resolved by me it was swelled andnow it is recovered. The part is now fine and ready to use again by the pilots. */

position: absolute;
width: 292px;
height: 68px;
left: 72px;
top: 166px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;

color: #497E96;



/* 12/09/2020 */

position: absolute;
width: 57px;
height: 15px;
left: 323px;
top: 242px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 142px;

border: 1px solid #FFFFFF;


/* U.Id. - 18D4562F483 */

position: absolute;
width: 100px;
height: 15px;
left: 73px;
top: 242px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 68 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 282px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 282px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 282px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 321px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 330px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 282px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 288px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 339px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 348px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 357px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 366px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 375px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 384px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 393px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 402px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 411px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 420px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 300px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 297px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 293px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Tyres of Flight 2110B7 */

position: absolute;
width: 146px;
height: 21px;
left: 72px;
top: 297px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 297px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 297px;

background: #DB3535;


/* There is a problem resolved in the front tyres of the flight which is resolved by me it was swelled andnow it is recovered. The part is now fine and ready to use again by the pilots. */

position: absolute;
width: 292px;
height: 68px;
left: 72px;
top: 323px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;

color: #497E96;



/* 12/09/2020 */

position: absolute;
width: 57px;
height: 15px;
left: 323px;
top: 399px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 299px;

border: 1px solid #FFFFFF;


/* U.Id. - 18D4562F483 */

position: absolute;
width: 100px;
height: 15px;
left: 73px;
top: 399px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 69 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 439px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 439px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 439px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 478px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 487px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 439px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 445px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 496px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 505px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 514px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 523px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 532px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 541px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 550px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 559px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 568px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 577px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 457px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 454px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 450px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Tyres of Flight 2110B7 */

position: absolute;
width: 146px;
height: 21px;
left: 72px;
top: 454px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 454px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 454px;

background: #DB3535;


/* There is a problem resolved in the front tyres of the flight which is resolved by me it was swelled andnow it is recovered. The part is now fine and ready to use again by the pilots. */

position: absolute;
width: 292px;
height: 68px;
left: 72px;
top: 480px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;

color: #497E96;



/* 12/09/2020 */

position: absolute;
width: 57px;
height: 15px;
left: 323px;
top: 556px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 456px;

border: 1px solid #FFFFFF;


/* U.Id. - 18D4562F483 */

position: absolute;
width: 100px;
height: 15px;
left: 73px;
top: 556px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 70 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 596px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 596px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 596px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 635px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 644px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 596px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 602px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 653px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 662px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 671px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 680px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 689px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 698px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 707px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 716px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 725px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 734px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 614px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 611px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 607px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Tyres of Flight 2110B7 */

position: absolute;
width: 146px;
height: 21px;
left: 72px;
top: 611px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 611px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 611px;

background: #DB3535;


/* There is a problem resolved in the front tyres of the flight which is resolved by me it was swelled andnow it is recovered. The part is now fine and ready to use again by the pilots. */

position: absolute;
width: 292px;
height: 68px;
left: 72px;
top: 637px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;

color: #497E96;



/* 12/09/2020 */

position: absolute;
width: 57px;
height: 15px;
left: 323px;
top: 713px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 613px;

border: 1px solid #FFFFFF;


/* U.Id. - 18D4562F483 */

position: absolute;
width: 100px;
height: 15px;
left: 73px;
top: 713px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 72 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 753px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 753px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 753px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 792px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 801px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 753px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 759px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 810px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 819px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 828px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 837px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 846px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 855px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 864px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 873px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 882px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 891px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 771px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 768px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 764px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Train Reservation for 25/03/2020 */

position: absolute;
width: 233px;
height: 21px;
left: 72px;
top: 768px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 768px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 768px;

background: #DB3535;


/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 770px;

border: 1px solid #FFFFFF;


/* From : Kanpur (KNP) Destination : Ghaziabad (GZD) */

position: absolute;
width: 231px;
height: 46px;
left: 72px;
top: 793px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

color: #497E96;



/* Rectangle 150 */

position: absolute;
width: 414px;
height: 101px;
left: 0px;
top: 0px;

background: #092D6F;


/* Group 79 */

position: absolute;
width: 46.15px;
height: 24.42px;
left: 29px;
top: 51px;



/* Vector 12 */

position: absolute;
width: 44.28px;
height: 10.7px;
left: 30.87px;
top: 64.72px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 31.18px;
height: 13.1px;
left: 29px;
top: 51px;

background: #FFFFFF;


/* Group 73 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Group 74 */

position: absolute;
width: 5px;
height: 19px;
left: 374px;
top: 59px;



/* Ellipse 66 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 59px;

background: #FFFFFF;


/* Ellipse 67 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 66px;

background: #FFFFFF;


/* Ellipse 68 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 73px;

background: #FFFFFF;


/* Alerts */

position: absolute;
width: 59px;
height: 30px;
left: 182px;
top: 57px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Rectangle 152 */

position: absolute;
width: 108px;
height: 4px;
left: 153px;
top: 885px;

background: #FFFFFF;
opacity: 0.5;
border-radius: 26px;


/* Group 75 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 125px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 125px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 125px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 164px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 173px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 125px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 131px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 182px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 191px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 200px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 209px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 218px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 227px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 236px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 245px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 254px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 263px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 143px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 140px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 136px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* E-Challan from 29/12/2019 */

position: absolute;
width: 191px;
height: 21px;
left: 72px;
top: 140px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 140px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 140px;

background: #DB3535;


/* Amount - 500.00 Remaining time : 5 days */

position: absolute;
width: 183px;
height: 46px;
left: 72px;
top: 166px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

color: #497E96;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 142px;

border: 1px solid #FFFFFF;


/* U.Id. - 18D4562F483 */

position: absolute;
width: 100px;
height: 15px;
left: 73px;
top: 242px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 76 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 282px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 282px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 282px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 321px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 330px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 282px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 288px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 339px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 348px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 357px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 366px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 375px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 384px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 393px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 402px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 411px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 420px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 300px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 297px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 293px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Train Reservation for 24/03/2020 */

position: absolute;
width: 234px;
height: 21px;
left: 72px;
top: 297px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 297px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 297px;

background: #DB3535;


/* From : Lucknow (LKO) Destination : New Delhi (NDLS) */

position: absolute;
width: 228px;
height: 46px;
left: 72px;
top: 323px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

color: #497E96;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 299px;

border: 1px solid #FFFFFF;


/* U.Id. - 18D4562F483 */

position: absolute;
width: 100px;
height: 15px;
left: 73px;
top: 399px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */

color: #000000;



/* Group 77 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 439px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 439px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 439px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 478px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 487px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 439px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 445px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 496px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 505px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 514px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 523px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 532px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 541px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 550px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 559px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 568px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 577px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 457px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 454px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 450px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* Flight Reservation for 30/03/2020 */

position: absolute;
width: 237px;
height: 21px;
left: 72px;
top: 454px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 454px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 454px;

background: #DB3535;


/* From : Lucknow (LKO) Destination : New Delhi (NDLS) */

position: absolute;
width: 228px;
height: 46px;
left: 72px;
top: 480px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

color: #497E96;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 456px;

border: 1px solid #FFFFFF;


/* Group 78 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 596px;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 596px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 596px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 635px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 644px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 596px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 602px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 653px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 662px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 671px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 680px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 689px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 698px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 707px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 716px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 725px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 734px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 614px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 611px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Reported */

position: absolute;
width: 52px;
height: 17px;
left: 328px;
top: 607px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
/* identical to box height */
text-align: right;

color: #DB3535;



/* MST Termination */

position: absolute;
width: 120px;
height: 21px;
left: 72px;
top: 611px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #092D6F;



/* Group 54 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 611px;



/* Star 1 */

position: absolute;
width: 8px;
height: 8px;
left: 318px;
top: 611px;

background: #DB3535;


/* Issue Date : 13/02/2020 Time Remaining : 5 Days */

position: absolute;
width: 186px;
height: 46px;
left: 72px;
top: 637px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;

color: #497E96;



/* Vector 17 */

position: absolute;
width: 4px;
height: 4px;
left: 320px;
top: 613px;

border: 1px solid #FFFFFF;
