/* Sign up */

position: relative;
width: 414px;
height: 896px;

background: #092D6F;


/* Group 43 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* GoEasy */

position: absolute;
width: 158px;
height: 70px;
left: 128px;
top: 184px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
text-align: center;

color: #FFFFFF;



/* Group 97 */

position: absolute;
width: 82px;
height: 44.38px;
left: 166px;
top: 434.81px;



/* Group 47 */

position: absolute;
width: 82px;
height: 44.38px;
left: 166px;
top: 434.81px;



/* Vector 12 */

position: absolute;
width: 78.68px;
height: 19px;
left: 169.32px;
top: 460.19px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 55.41px;
height: 23.27px;
left: 166px;
top: 434.81px;

background: #FFFFFF;


/* Sign up */

position: relative;
width: 414px;
height: 896px;

background: #092D6F;


/* Group 43 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Rectangle 145 */

position: absolute;
width: 337px;
height: 49px;
left: 38px;
top: 682px;

background: #3DBAF1;
border-radius: 2px;


/* Sign Up */

position: absolute;
width: 59px;
height: 19px;
left: 165px;
top: 697px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #092D6F;



/* Group 96 */

position: absolute;
width: 337px;
height: 306px;
left: 38px;
top: 346px;



/* Rectangle 142 */

position: absolute;
width: 337px;
height: 49px;
left: 38px;
top: 346px;

background: #20417D;
border-radius: 2px;


/* Rectangle 143 */

position: absolute;
width: 337px;
height: 49px;
left: 38px;
top: 414px;

background: #20417D;
border-radius: 2px;


/* Rectangle 144 */

position: absolute;
width: 337px;
height: 49px;
left: 38px;
top: 531px;

background: #20417D;
border-radius: 2px;


/* Frame 1 */

/* Auto Layout */
display: flex;
flex-direction: row;
padding: 10px;

position: absolute;
width: 20px;
height: 44px;
left: 51px;
top: 487px;



/* Rectangle 146 */

position: absolute;
width: 337px;
height: 49px;
left: 38px;
top: 603px;

background: #20417D;
border-radius: 2px;


/* Password */

position: absolute;
width: 74px;
height: 19px;
left: 61px;
top: 618px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #8FA0BE;



/* Email */

position: absolute;
width: 42px;
height: 19px;
left: 61px;
top: 429px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #8FA0BE;



/* Name */

position: absolute;
width: 44px;
height: 19px;
left: 61px;
top: 361px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #8FA0BE;



/* Rectangle 146 */

position: absolute;
width: 337px;
height: 49px;
left: 41px;
top: 472px;

background: #20417D;
border-radius: 2px;


/* Already Have an account ? Login */

position: absolute;
width: 244px;
height: 19px;
left: 85px;
top: 844px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #3DBAF1;



/* Group 199 */

position: absolute;
width: 110px;
height: 104.19px;
left: 152px;
top: 154.81px;



/* Group 97 */

position: absolute;
width: 82px;
height: 44.38px;
left: 166px;
top: 154.81px;



/* Group 47 */

position: absolute;
width: 82px;
height: 44.38px;
left: 166px;
top: 154.81px;



/* Vector 12 */

position: absolute;
width: 78.68px;
height: 19px;
left: 169.32px;
top: 180.19px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 55.41px;
height: 23.27px;
left: 166px;
top: 154.81px;

background: #FFFFFF;


/* GoEasy */

position: absolute;
width: 110px;
height: 44px;
left: 152px;
top: 215px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 29px;
line-height: 43px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Aadhar Number */

position: absolute;
width: 130px;
height: 24px;
left: 61px;
top: 543px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;

opacity: 0.5;


/* Mobile No. */

position: absolute;
width: 84px;
height: 24px;
left: 61px;
top: 478px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;

opacity: 0.5;


/* Sign in */

position: relative;
width: 414px;
height: 896px;

background: #092D6F;


/* Group 43 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Group 47 */

position: absolute;
width: 82px;
height: 44.38px;
left: 166px;
top: 164.81px;



/* Vector 12 */

position: absolute;
width: 78.68px;
height: 19px;
left: 169.32px;
top: 190.19px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 55.41px;
height: 23.27px;
left: 166px;
top: 164.81px;

background: #FFFFFF;


/* GoEasy */

position: absolute;
width: 110px;
height: 44px;
left: 152px;
top: 235px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 29px;
line-height: 43px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Rectangle 143 */

position: absolute;
width: 337px;
height: 49px;
left: 39px;
top: 403px;

background: #20417D;
border-radius: 2px;


/* Username */

position: absolute;
width: 84px;
height: 24px;
left: 62px;
top: 415px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;

opacity: 0.5;


/* Rectangle 144 */

position: absolute;
width: 337px;
height: 49px;
left: 39px;
top: 471px;

background: #20417D;
border-radius: 2px;


/* Rectangle 145 */

position: absolute;
width: 337px;
height: 49px;
left: 39px;
top: 592px;

background: #3DBAF1;
border-radius: 2px;


/* Sign In */

position: absolute;
width: 53px;
height: 19px;
left: 180px;
top: 607px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #092D6F;



/* Password */

position: absolute;
width: 74px;
height: 19px;
left: 62px;
top: 486px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #8FA0BE;



/* Already Have an account ? Sign In */

position: absolute;
width: 255px;
height: 19px;
left: 79px;
top: 844px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #3DBAF1;


/* Home */

position: relative;
width: 414px;
height: 896px;

background: #F0F0F0;


/* Rectangle 41 */

position: absolute;
width: 414px;
height: 101px;
left: 0px;
top: 0px;

background: #092D6F;


/* Rectangle 147 */

position: absolute;
width: 414px;
height: 90px;
left: 0px;
top: 100px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);


/* Group 43 */

position: absolute;
width: 362px;
height: 17px;
left: 24px;
top: 9px;



/* Vector 9 */

position: absolute;
width: 13.32px;
height: 14.57px;
left: 75.64px;
top: 10.48px;

background: #FFFFFF;


/* Group 22 */

position: absolute;
width: 16.09px;
height: 11.74px;
left: 328.29px;
top: 12.26px;



/* Vector */

position: absolute;
left: 79.93%;
right: 17.45%;
top: 1.81%;
bottom: 97.78%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 79.3%;
right: 16.82%;
top: 1.37%;
bottom: 98.11%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 80.78%;
right: 18.3%;
top: 2.25%;
bottom: 97.32%;

background: #FFFFFF;


/* Group 42 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group 23 */

position: absolute;
width: 21.76px;
height: 11.48px;
left: 364.24px;
top: 12.8px;



/* Group */

position: absolute;
left: 93.24%;
right: 3.99%;
top: 1.43%;
bottom: 96.14%;

transform: rotate(90deg);


/* Union */

position: absolute;
width: 11.48px;
height: 21.76px;
left: 386px;
top: 12.8px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 92.97%;
right: 4.25%;
top: 1.43%;
bottom: 96.26%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector */

position: absolute;
left: 93.24%;
right: 5.61%;
top: 1.8%;
bottom: 97.65%;

background: #8BC34A;
transform: rotate(90deg);


/* Vector 10 */

position: absolute;
width: 13.83px;
height: 7.32px;
left: 366.89px;
top: 14.85px;

background: #FFFFFF;


/* 9:45 */

position: absolute;
width: 38.48px;
height: 17px;
left: 24px;
top: 9px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;



/* Group 47 */

position: absolute;
width: 46.15px;
height: 24.42px;
left: 30px;
top: 55px;



/* Vector 12 */

position: absolute;
width: 44.28px;
height: 10.7px;
left: 31.87px;
top: 68.72px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 31.18px;
height: 13.1px;
left: 30px;
top: 55px;

background: #FFFFFF;


/* Group 131 */

position: absolute;
width: 46.15px;
height: 24.42px;
left: 184px;
top: 814px;



/* Vector 12 */

position: absolute;
width: 44.28px;
height: 10.7px;
left: 185.87px;
top: 827.72px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 31.18px;
height: 13.1px;
left: 184px;
top: 814px;

background: #FFFFFF;


/* Group 50 */

position: absolute;
width: 66px;
height: 66px;
left: 20px;
top: 112px;



/* Ellipse 16 */

position: absolute;
width: 66px;
height: 66px;
left: 20px;
top: 112px;

background: #092D6F;


/* Ellipse 1 */

position: absolute;
width: 60px;
height: 60px;
left: 23px;
top: 115px;

background: url(.jpg), #C4C4C4;
border: 1.5px solid #FFFFFF;
box-sizing: border-box;


/* Group 132 */

position: absolute;
width: 66px;
height: 66px;
left: 20px;
top: 112px;



/* Ellipse 16 */

position: absolute;
width: 66px;
height: 66px;
left: 20px;
top: 112px;

background: #092D6F;


/* Ellipse 1 */

position: absolute;
width: 60px;
height: 60px;
left: 23px;
top: 115px;

background: url(.jpg), #C4C4C4;
border: 1.5px solid #FFFFFF;
box-sizing: border-box;


/* Group 48 */

position: absolute;
width: 5px;
height: 19px;
left: 374px;
top: 59px;



/* Ellipse 66 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 59px;

background: #FFFFFF;


/* Ellipse 67 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 66px;

background: #FFFFFF;


/* Ellipse 68 */

position: absolute;
width: 5px;
height: 5px;
left: 374px;
top: 73px;

background: #FFFFFF;


/* Zaid Ansari */

position: absolute;
width: 102px;
height: 27px;
left: 104px;
top: 117px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #000000;



/* Services */

position: absolute;
width: 68px;
height: 24px;
left: 27px;
top: 202px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #000000;



/* Rajeev metro station */

position: absolute;
width: 105px;
height: 15px;
left: 105px;
top: 142px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #7B7B7B;



/* Metro Incharge */

position: absolute;
width: 77px;
height: 15px;
left: 104px;
top: 157px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: center;

color: #7B7B7B;



/* Rectangle 56 */

position: absolute;
width: 369px;
height: 141px;
left: 22px;
top: 241px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Ellipse 2 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 250px;

background: #3DBAF1;


/* Ellipse 3 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 247px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Railways (Inter-City) */

position: absolute;
width: 215px;
height: 30px;
left: 72px;
top: 247px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #092D6F;



/* Reservation Monthly Season Ticket (MST) */

position: absolute;
width: 262px;
height: 54px;
left: 72px;
top: 279px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

color: #497E96;



/* Rectangle 148 */

position: absolute;
width: 369px;
height: 141px;
left: 20px;
top: 394px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 53 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 385px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 424px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 433px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 385px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 391px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 442px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 451px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 460px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 469px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 478px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 487px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 496px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 505px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 514px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 523px;

background: #3DBAF1;


/* Group 66 */

position: absolute;
width: 6px;
height: 141px;
left: 40px;
top: 232px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 271px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 280px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 40px;
top: 232px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 238px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 289px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 298px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 307px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 316px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 325px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 334px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 343px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 352px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 40px;
top: 361px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 40px;
top: 370px;

background: #3DBAF1;


/* Ellipse 4 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 403px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 400px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Buses */

position: absolute;
width: 61px;
height: 30px;
left: 72px;
top: 400px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #092D6F;



/* Ticket Booking Monthly Season Ticket (MST) */

position: absolute;
width: 262px;
height: 47px;
left: 72px;
top: 433px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

color: #497E96;



/* Group 55 */

position: absolute;
width: 369px;
height: 147px;
left: 23px;
top: 538px;



/* Rectangle 67 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 544px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 51 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 538px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 577px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 586px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 538px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 544px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 595px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 604px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 613px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 622px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 631px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 640px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 649px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 658px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 667px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 676px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 556px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 553px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Metro */

position: absolute;
width: 59px;
height: 30px;
left: 72px;
top: 553px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #092D6F;



/* Recharge Card Routes */

position: absolute;
width: 138px;
height: 54px;
left: 70px;
top: 587px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

color: #497E96;



/* Group 62 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 691px;



/* Rectangle 67 */

position: absolute;
width: 369px;
height: 141px;
left: 23px;
top: 691px;

background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
border-radius: 8px;


/* Group 51 */

position: absolute;
width: 6px;
height: 141px;
left: 41px;
top: 691px;



/* Ellipse 4 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 730px;

background: #3DBAF1;


/* Ellipse 5 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 739px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 691px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 697px;

background: #3DBAF1;


/* Ellipse 6 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 748px;

background: #3DBAF1;


/* Ellipse 7 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 757px;

background: #3DBAF1;


/* Ellipse 8 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 766px;

background: #3DBAF1;


/* Ellipse 9 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 775px;

background: #3DBAF1;


/* Ellipse 10 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 784px;

background: #3DBAF1;


/* Ellipse 11 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 793px;

background: #3DBAF1;


/* Ellipse 12 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 802px;

background: #3DBAF1;


/* Ellipse 13 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 811px;

background: #3DBAF1;


/* Ellipse 14 */

position: absolute;
width: 6px;
height: 6px;
left: 41px;
top: 820px;

background: #3DBAF1;


/* Ellipse 15 */

position: absolute;
width: 6px;
height: 3px;
left: 41px;
top: 829px;

background: #3DBAF1;


/* Ellipse 16 */

position: absolute;
width: 14px;
height: 14px;
left: 37px;
top: 709px;

background: #3DBAF1;


/* Ellipse 17 */

position: absolute;
width: 20px;
height: 20px;
left: 34px;
top: 706px;

border: 1.5px solid #092D6F;
box-sizing: border-box;


/* Flights */

position: absolute;
width: 68px;
height: 30px;
left: 72px;
top: 706px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */

color: #092D6F;



/* Flight Booking */

position: absolute;
width: 127px;
height: 54px;
left: 70px;
top: 739px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

color: #497E96;



/* 12/09/2020 */

position: absolute;
width: 59px;
height: 15px;
left: 321px;
top: 808px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
/* identical to box height */
text-align: right;

color: #000000;



/* Group 61 */

position: absolute;
width: 414px;
height: 106px;
left: 0px;
top: 790px;



/* Rectangle 42 */

position: absolute;
width: 414px;
height: 85px;
left: 0px;
top: 811px;

background: #092D6F;


/* My Bookings */

position: absolute;
width: 118px;
height: 24px;
left: 285px;
top: 859px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Rectangle 46 */

position: absolute;
width: 150px;
height: 106px;
left: 132px;
top: 790px;

background: #3DBAF1;
box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.29);


/* Group 63 */

position: absolute;
width: 52px;
height: 54px;
left: 40px;
top: 827px;



/* Report */

position: absolute;
width: 52px;
height: 19px;
left: 40px;
top: 862px;

font-family: SF Compact Text;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Vector */

position: absolute;
left: 12.8%;
right: 81.4%;
top: 92.3%;
bottom: 4.58%;

background: #FFFFFF;


/* GoEasy Card */

position: absolute;
width: 118px;
height: 27px;
left: 151px;
top: 851px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* Line 44 */

position: absolute;
width: 414px;
height: 0px;
left: 414px;
top: 190px;

border: 1px solid #CDCDCD;
transform: rotate(180deg);


/* GoEasy */

position: absolute;
width: 61px;
height: 24px;
left: 187px;
top: 55px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Group 60 */

position: absolute;
width: 91px;
height: 52px;
left: 303px;
top: 117px;



/* Balance */

position: absolute;
width: 84px;
height: 30px;
left: 310px;
top: 139px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: right;

color: #484848;



/* 1236.00 */

position: absolute;
width: 83px;
height: 30px;
left: 303px;
top: 117px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: right;

color: #000000;



/* Group 130 */

position: absolute;
width: 30px;
height: 30.3px;
left: 334px;
top: 826px;



/* Subtract */

position: absolute;
width: 30px;
height: 30.3px;
left: 334px;
top: 826px;

background: #FFFFFF;


/* Vector 23 */

position: absolute;
width: 30px;
height: 30.3px;
left: 334px;
top: 826px;

background: #FFFFFF;


/* Ellipse 78 */

position: absolute;
width: 2.82px;
height: 2.82px;
left: 356.48px;
top: 851.4px;

background: #C4C4C4;


/* Group 47 */

position: absolute;
width: 46.15px;
height: 24.42px;
left: 184px;
top: 811px;



/* Vector 12 */

position: absolute;
width: 44.28px;
height: 10.7px;
left: 185.87px;
top: 824.72px;

background: #FFFFFF;


/* Vector 13 */

position: absolute;
width: 31.18px;
height: 13.1px;
left: 184px;
top: 811px;

background: #FFFFFF;
